<div class="login-container">
    <mat-card class="login-card">
      <h1>Iniciar Sesión</h1>
  
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width password-field">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility($event)" type="button">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
  
        <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="loginForm.invalid">
          Ingresar
        </button>
        
      </form>
      <p class="registro-link">
        ¿No tienes cuenta? <a routerLink="/registro">Regístrate</a>
      </p>
    </mat-card>
  </div>
  